@{
    ViewData["Title"] = "Clash of Clans Hobby";
}

<!-- Introduces the user to the website-->
<h1 style="text-align: center;">
    Welcome to My Clash of Clans Hobby Site
</h1>

<!-- Displays an image of the game-->
<img src="~/images/clash_of_clans_screenshot.jpg" alt="Clash of Clans Screenshot" style="display: block; margin-left: auto; margin-right: auto; width: 30%;" />

<!-- Paragraph explaining what the game is-->
<br /><p style ="text-align: center;">
    Clash of Clans is a popular mobile strategy game developed by Supercell. In Clash of Clans, players build their village, train troops, and attack other players to earn resources and trophies.
    The game offers a variety of features including clan wars, events, and regular updates to keep players engaged.
</p>

<!-- Displays an image of the game-->
<img src="~/images/Another_clash_image.jpg" alt="Clash of Clans Screenshot" style="display: block; margin-left: auto; margin-right: auto; width: 30%;" />

<!-- Paragraph explaining my background with the game-->
<br /><p style="text-align: center;">
    I have played Clash of Clans for the past 12 years of my life. With 12 years or experience, I have found the best farming, war, and upgrade strategies. I have played the game both actively and passively, and have had a great time throughout it all.
</p>

<!-- Promoting the tutoring-->
<p style="text-align: center;">
    If you want my help to play the game better, sign up for tutoring below!
</p>

<a href="@Url.Action("Calculator", "Home")">Calculate Tutoring Cost</a>
